.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 50px;
    &-heading {
        font-size: 20px;
        font-weight: 500px;
        padding-bottom: 20px;
    }
    &-link {
        color: $gray-dark;
        display: inline-block;
        padding: 10px;
    }
    &-logo {
        display: inline-block;
    }
    &-text {
        margin: 40px 0 50px;
        max-width: 245px;
        color: $gray-dark;
    }
    @media (max-width: 739px) {
        grid-template-columns: 2fr 2fr;
        grid-column-gap: 15px;
        &-column {
            margin-bottom: 25px;
        }
        &-text {
            margin: 25px 0 30px;
        }
    }
}
.social {
    display: inline-flex;
    &-link {
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 100rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    &-link:not(first-child) {
        margin-right: 20px;
    }
}
.bg-google {
    background-color: #ff7979;
}
.bg-twitter {
    background-color: #79afff;
}
.bg-instagram {
    background-color: #ffb979;
}
