.intro {
  display: flex;
  align-items: center;
  padding: 110px 0 160px;
  & > * {
    width: 50%;
  }
  &-content {
    padding-right: 130px;
  }
  &-desc {
    margin-bottom: 30px;
    margin-top: 40px;
  }
  @media (max-width: 1023px) {
    &-content {
      width: 60%;
      padding-right: 80px;
    }
    &-image {
      width: 40%;
    }
  }
  @media (max-width: 739px) {
    flex-direction: column;
    padding-top: 30px;
    & > * {
      width: 100%;
    }
    &-content {
      padding-right: 0;
      margin-bottom: 25px;
    }
  }
}
